/* 首页背景 */
html.page-home {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
	top: 0;
	left: 0;
    right: 0;
	bottom: 0;
    margin: 0;
	background-image: url(/images/home.jpg);
    background-position: center center;
    background-color: transparent;	
	background-size: cover;
	background-repeat: no-repeat;
}
/*鼠标*/
body{
	cursor: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/normal.cur),auto;
}
a {
    cursor: url(https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/cursor/ayuda.cur), auto
}
a:link {
    text-decoration: none;
}
a:active,
a:hover {
    text-decoration: none;
    outline: 0
}
a:active {
    cursor: url(https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/cursor/work.cur), alias
}
p {
    cursor: url(https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/cursor/texto.cur), auto
}
/*赞赏图标跳动*/
.btn-donation {
    animation: star 0.5s ease-in-out infinite alternate;
	background-color: #AB34E9;
}

@keyframes star {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#bgvideo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    min-width: 99.999%;
    min-height: 550px;
    z-index: 0;
	display: none;
}

#video-btn,
#video-add {
    position: absolute;
    bottom: 3px;
    right: 5px;
    width: 32px;
    height: 32px;
    z-index: 7;
    background-position: center;
    background-size: cover;
    /* cursor: pointer; */
    opacity: .8;
    -moz-animation: poi-face 10s linear infinite alternate;
    -webkit-animation: poi-face 10s linear infinite alternate;
    -o-animation: poi-face 10s linear infinite alternate;
    animation: poi-face 10s linear infinite alternate
}

#video-btn:hover,
#video-add:hover {
    opacity: 1
}

.video-play,
.loadvideo {
    background-image: url('https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/other/play@32x32.png')
}

.video-pause {
    background-image: url('https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/other/pause@32x32.png')
}

#video-add {
    background-image: url('https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/other/add@32x32.png');
    bottom: 45px;
    display: none
}

.video-stu {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 6px 15px;
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 0;
    font-size: 18px;
    -webkit-transition: .4s ease all;
    -moz-transition: .4s ease all;
    -o-transition: .4s ease all;
    transition: .4s ease all
}

.headertop::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-attachment: fixed
}

.headertop.filter-undertint::before {
    background-color: rgba(255, 255, 255, .3)
}

.headertop.filter-dim::before {
    background-color: rgba(0, 0, 0, .3)
}

.headertop.filter-grid::before {
    background-image: url(https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/other/grid.png)
}

.headertop.filter-dot::before {
    background-image: url(https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/other/dot.gif)
}

@media(max-width:860px) {
    .headertop.filter-dot::before {
        background-image: url(https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/other/grid.png)
    }
}

@media(max-width:860px) {
    .headertop {
        position: relative;
        overflow: visible;
        height: 0
    }

    .video-stu {
        display: none;
    }
}
#centerbg {
    width: 100%;
    height: 550px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1
}

@media(max-width:560px) {
    #bgvideo {
        min-height: 280px !important;
    }
}

@media(max-width:860px) {
    #centerbg {
        height: 300px;
        background-attachment: scroll
    }
    #bgvideo {
        position: absolute;
        top: 0px !important;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        z-index: 0;
		display: none;
    }
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden
}

.video-container embed,
.video-container iframe,
.video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}


#banner_wave_1 {
    width: auto;
    height: 65px;
    background: url("https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/other/wave1.png") repeat-x;
    position: absolute;
    bottom: 0;
    width: 400%;
    left: -236px;
    z-index: 5;
    opacity: 1;
    transition-property: opacity, bottom;
    transition-duration: .4s, .4s
}

#banner_wave_2 {
    width: auto;
    height: 80px;
    background: url("https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/other/wave2.png") repeat-x;
    position: absolute;
    bottom: 0;
    width: 400%;
    left: 0;
    z-index: 4;
    opacity: 1;
    transition-property: opacity, bottom;
    transition-duration: .4s, .4s
}

.banner_wave_hide,
.banner_wave_hide_fit_skin {
    opacity: 0 !important;
    bottom: -999px !important
}

@media(max-width:860px) {

    #banner_wave_1,
    #banner_wave_2 {
        display: none
    }
}

/*header*/
.site-header {
    width: 100%;
    height: 75px;
    background: none;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    position: fixed;
    z-index: 9999;
    top: 0
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.gizle {
    top: -100px;
    top: 0;
    z-index: 9999
}

.site-top{
	position: relative;
	left: 1.3%;
}

.site-branding {
    float: left;
    position: relative;
    height: 75px;
    line-height: 75px;
    margin-left: -6px
}

.site-title {
    margin: 0
}

.site-title a {
    color: #464646;
    font-weight: 400
}

.site-title a:hover {
    color: orange
}

.site-title img {
    height: 40px;
    margin-top: 17px;
    opacity: .75;
    -webkit-transition: color .2s ease-out, border .2s ease-out, opacity .2s ease-out;
    -moz-transition: color .2s ease-out, border .2s ease-out, opacity .2s ease-out;
    transition: color .2s ease-out, border .2s ease-out, opacity .2s ease-out
}

.site-title img:hover {
    opacity: 1
}
.site-branding {
    animation: sitetop 1s
}
@media(max-width:860px) {
        .site-header {
        display: none
    }
    .site-branding {
        float: right;
        height: 50px;
        line-height: 48px;
        margin-right: 6px
    }
    .site-title img {
        height: 40px;
        line-height: 40px;
        margin: 0;
        vertical-align: middle
    }
    .site-title {
        font-size: 20px;
        margin-right: 10px
    }
}
.site-branding {
    animation: sitetop 1s
}
@keyframes sitetop {
    0% {
        opacity: 0;
        transform: translateX(-30px)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}
.site-header:hover{
	background-color: #FFFFFF;
}
/*运行时间*/
/*#days{
    animation: rainbow-colors 2s linear infinite;
    animation-delay: calc(-2s * var(--char-percent));
}
@keyframes rainbow-colors {
    0% { color: hsl(197, 97%, 66%, 1); }
    25% { color: hsl(0, 100%, 100%, 1); }
    50% { color: hsl(348, 83%, 81%, 1); }
    75% { color: hsl(.75turn, 90%, 65%); }
    100% { color: hsl(1turn, 90%, 65%); }
  }
*/
.site-header:hover .mune{
display: block;
}
.site-header:hover .translate-style{
    display: block;
    }
/*菜单*/
.mune{
    position: absolute;
    left:30%;
    width: 60%;
    display: none;
}
.tool{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:start;
    height: 45px;
    line-height: 45px;
}
.box{
    width: 10%;
    text-align: center;
}
.box a{
    color: gray;
}
.box a:hover{
    color: orange;
}
.tool:hover .box{
    
}
.translate-style{
    display: none;
    position: absolute;
    right: 5%;
    top: 25px;
}
.translate-style a{
    color: orange;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
@keyframes fade-in {
    0% {
        opacity: 0
    }

    40% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }

    40% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}